*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #ffff;
    color: #1a1a1a;
}

.navbar{
    width: 100%;
    padding: 25px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 28px;
    font-weight: 700;
    color: #0c3c84;
}

nav a{
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-size: 15px;
}

nav a.active{
    color: #e22d2d;
    font-weight: 600;
}

.nav-buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-btn{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.purchase-btn{
    background: #0c3c84;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    gap: 50px;
}

.hero-text{
    flex: 1;
}

.subtitle{
    color: #756f87;
    font-size: 14px;
}

.hero h1 span{
    color: #000;
}

.description{
    margin: 20px 0;
    width: 90%;
    line-height: 1.6;
    color: #444;
}

.hero-buttons{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn-primary{
    background: #0c3c84;
    color: white;
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.btn-outline{
    background: #ffff;
    border: 2px solid #0c3c84;
    color: #0c3c84;
    padding: 14px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.hero-image img{
    width: 500px;
    border-radius: 15px;
    object-fit: cover;
}

.services-section{
    padding: 80px 70px;
    background: #f7f9fc;
}

.services-heacer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 60px;
}

.services-title{
    font-size: 40px;
    font-weight: 700;
    color: #0c1933;
    margin-top: 10px;
}

.services-description{
    width: 45%;
    color: #4a4a4a;
    line-height: 1.7;
    font-size: 15px;
}

.services-grip{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.service-item{
    width: 30%;
}

.service-item p{
    color: #555;
    line-height: 1.6;
}

.icon{
    width: 45px;
    height: 45px;
    font-size: 25%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.icon.blue{
    background: rgb(0, 61, 255, 0.1);
    color: #003dff;
}

.icon.orange{
    background: rgb(255, 84, 35, 0.1);
    color: #ff5423;
}

.icon.navy{
    background: rgb(7, 55, 142, 0.1);
    color: #07378e;
}

