*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #ffff;
    color: #1a1a1a;
}

.navbar{
    width: 100%;
    padding: 25px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 28px;
    font-weight: 700;
    color: #0c3c84;
}

.logo span{
    color: black;
}

nav a{
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-size: 15px;
}

nav a.active{
    color: #e22d2d;
    font-weight: 600;
}

.nav-buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-input{
    width: 230px;
    padding: 10px 14px;
    border:  1px solid #d4dbea;
    border-radius: 10px;
    background: #f8faff;
    font-size: 0.95rem;
    transition: 0.2s ease;
    color: #333;
}

.purchase-btn{
    background: #0c3c84;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    gap: 50px;
}

.hero-text{
    flex: 1;
}

.subtitle{
    color: #756f87;
    font-size: 14px;
}

.hero h1 span{
    color: #000;
}

.description{
    margin: 20px 0;
    width: 90%;
    line-height: 1.6;
    color: #444;
}

.hero-buttons{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn-primary{
    background: #0c3c84;
    color: white;
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.btn-outline{
    background: #ffff;
    border: 2px solid #0c3c84;
    color: #0c3c84;
    padding: 14px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.hero-image img{
    width: 500px;
    border-radius: 15px;
    object-fit: cover;
}

.services-section{
    padding: 80px 70px;
    background: #f7f9fc;
}

.services-heacer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 60px;
}

.services-title{
    font-size: 40px;
    font-weight: 700;
    color: #0c1933;
    margin-top: 10px;
}

.services-description{
    width: 45%;
    color: #4a4a4a;
    line-height: 1.7;
    font-size: 15px;
}

.services-grip{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.service-item{
    width: 30%;
}

.service-item p{
    color: #555;
    line-height: 1.6;
}

.icon{
    width: 45px;
    height: 45px;
    font-size: 25%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.hero-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background: url(../assets/banner-nosotros.jpg) center/cover no-repeat;
    padding: 120px 0;
    color: white;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
}

.content{
    position: relative;
    max-width: 700px;
    margin-left: 80px;
}

.hero-section .subtitle{
    font-size: 18px;
    opacity: 0.9;
    color: #fff;
}

.hero-section .title{
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
    color: #fff;
}

.hero-section .description{
    margin-top: 15px;
    opacity: 0.9;
    color: #fff;
}

.stats{
    margin-top: 40px;
    display: flex;
    gap: 60px;
}

.stat-item{
    text-align: center;
}

.circle{
    width: 130px;
    height: 130px;
    border: 8px solid #f5422b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    margin: 0 auto 10px;
}

.label {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.steps-section{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    padding: 60px 80px;
}

.steps-card{
    width: 100%;
    max-width: 360px;
}

.steps-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}

.steps-card h3{
    font-size: 1.4rem;
    font-weight: 700;
    color: #0b1957;
    margin-bottom: 10px;
}

.steps-card p{
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

.footer{
    background: #05060f;
    padding: 80px 0;
    color: #fff;
}

.footer-container{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    padding: 0 40px;
}

.footer-about h2{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
    color: #0a58ff;
}

.footer-about h2 span{
    color: white;
}

.footer-about p{
    max-width: 330px;
    line-height: 1.7;
    opacity: 0.85;
}

.footer-btn{
    display: inline-block;
    margin-top: 25px;
    padding: 14px 30px;
    background: #0a58ff;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.footer-social{
    display: flex;
    gap: 18px;
    margin-top: 30px;
}

.footer-social a{
    background: #ff3d2e;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 18px;
    color:#fff;
    transition: 0.3s;
}

.footer-social a:hover{
    background: #cc2f24;
}

.footer-col h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul li a:hover{
    color: #fff;
}

@media(max-width: 900px){
    .footer-container{
        flex-direction: column;
        gap: 50px;
    }
}

.contact-section {
    width: 100%;
    padding: 80px 0;
    background: #f8faff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    width: 90%;
    max-width: 1100px;
    background: white;
    border-radius: 18px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.contact-info h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #12122f;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 0.95rem;
    color: #52556b;
    margin-bottom: 25px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-details div {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 0.95rem;
    color: #333;
}

.contact-details i {
    font-size: 1.2rem;
    color: #4f7cff;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #d4dbea;
    border-radius: 10px;
    background: #f8faff;
    transition: 0.2s ease;
    font-size: 0.95rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background: #fff;
    border-color: #4f7cff;
    outline: none;
    box-shadow: 0 0 6px rgba(79, 124, 255, 0.25);
}

.contact-form textarea {
    resize: none;
    height: 140px;
}

.contact-form button {
    width: 160px;
    padding: 14px;
    background: #4f7cff;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

@media (max-width: 900px) {
    .contact-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .contact-details div {
        justify-content: center;
    }

    .contact-form button {
        margin: 0 auto;
    }
}
